<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Random Numbers", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link" do %>
            Home
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to migration_status_path, class: "nav-link" do %>
            Migration Status
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
            Sign Out
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            Sign In
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: "nav-link" do %>
            Sign Up
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
